<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://www.carlogos.org/car-logos/peugeot-logo.png">
        <div class="card-body">
          <h5 class="card-title">Peugeot</h5>
          <div class="card-text">
            <p>Francja, Sochaux, 1810</p>
          </div>
          <a href="#" class="btn btn-primary">Buy car</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.carlogos.org/car-logos/peugeot-logo.png">
        <div class="card-body">
          <h5 class="card-title">Peugeot</h5>
          <div class="card-text">
            <p>Francja, Sochaux, 1810</p>
          </div>
          <a href="#" class="btn btn-primary">Buy car</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.carlogos.org/car-logos/peugeot-logo.png">
        <div class="card-body">
          <h5 class="card-title">Peugeot</h5>
          <div class="card-text">
            <p>Francja, Sochaux, 1810</p>
          </div>
          <a href="#" class="btn btn-primary">Buy car</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.carlogos.org/car-logos/peugeot-logo.png">
        <div class="card-body">
          <h5 class="card-title">Peugeot</h5>
          <div class="card-text">
            <p>Francja, Sochaux, 1810</p>
          </div>
          <a href="#" class="btn btn-primary">Buy car</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.carlogos.org/car-logos/peugeot-logo.png">
        <div class="card-body">
          <h5 class="card-title">Peugeot</h5>
          <div class="card-text">
            <p>Francja, Sochaux, 1810</p>
          </div>
          <a href="#" class="btn btn-primary">Buy car</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
