<div class="container">
  <div class="row">
    <div class="col-lg-3" *ngFor="let carCompany of carCompanies; let isOdd = odd;">
      <div class="card">
        <img class="card-img-top" [src]="carCompany.logoUrl">
        <div class="card-body">
          <h5 class="card-title">{{carCompany.name}}</h5>
          <div class="card-text">
            <p>{{carCompany.desc}}</p>
          </div>
          <a href="#" [ngClass]="isOdd ? 'btn btn-primary dark' : 'btn btn-primary'">Buy car</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
