<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div ng-app="helloModule">
        Hello hell from Angular.js! {{ 32 / 8}}
        <div ng-controller="HelloController">
            {{ hello }}, bitcoin API says: 1 bitcoin = {{bitcoin}} {{currency}}

            <form name="searchSth">
                <input type="search" placeholder="Type in here something" ng-model="currency">
                <input type="submit" value="Click" ng-click="search(currency)">
            </form>
        </div>
    </div>
</body>
</html>